---
---

<div>
  <p>
    My name is Jackson. I started this blog because I wanted somewhere to write and play with basic website building and design.
  </p>
  <p> <strong>Interests</strong> </p>
  <ul>
    <li>
      My hobbies lean towards the nerdier side admittedly; I enjoy brain-teasers, crosswords, and maths puzzles.
    </li>
    <li>
      I love playing the piano and guitar when I have spare time (not often), and I sing to my large Instagram following of 30 people.
    </li>
    <li>
      My political views are not very interesting - I won't talk about them very often (for now)
    </li>
  </ul>
 
  <p> <strong>Schooling</strong> </p>
  <ul>
    <li>
      <strong>MD.</strong> 2020-2023
    </li>
    <li>
      <strong>BSc(Adv).</strong> 2017-2019
    </li>
    <li>
      <strong>HSC.</strong> 2016
    </li>
  
</div>
