---
---

<div>
  <p>
    My name is Jackson. I started this blog to have a space to explore both writing and basic website design.
    I wouldn't label myself as a proficient writer - there is a strong chance that I have used ChatGPT to help edit my writing.
    My goal is to write freely about what's on my mind, share interesting experiences, and perhaps a puzzle once in a while.
  </p>
  <p> <strong>Interests</strong> </p>
  <ul>
    <li>
      My hobbies lean towards the nerdier side, admittedly; I enjoy brain-teasers, crosswords, and maths puzzles.
    </li>
    <li>
      I love playing the piano and guitar when I have spare time (not often), and I sing to my large Instagram following of 30 people.
    </li>
    <li>
      My political views are not very interesting - I won't talk about them very often (for now)
    </li>
  </ul>
 
  <p> <strong>Schooling</strong> </p>
  <ul>
    <li>
      <strong>MD.</strong> 2020-2023
    </li>
    <li>
      <strong>BSc(Adv).</strong> 2017-2019
    </li>
    <li>
      <strong>HSC.</strong> 2016
    </li>
  
</div>
