---
---

<div>
  <p>
    My name is Jackson. I started this blog to have a space to explore both writing and basic website design.
  
    My goal is to write freely about what's on my mind, share interesting experiences, and perhaps a puzzle once in a while.
  </p>
  <p> <strong>Interests</strong> </p>
  <ul>
    <li>
      I enjoy brain-teasers, crosswords, and maths puzzles
    </li>
    <li>
      My main academic interest is neuroscience, particularly cognitive neuroscience; it will be the subject of many articles
    </li>
    <li>
      I publish some live (piano, vocal, guitar) and produced electronic music
    </li>
    <li>
      My political views are not very interesting - I will refrain from discussing them often
    </li>
  </ul>
 
  <p> <strong>Schooling</strong> </p>
  <ul>
    <li>
      <strong>MD.</strong> 2020-2023
    </li>
    <li>
      <strong>BSc(Adv).</strong> 2017-2019
    </li>
    <li>
      <strong>HSC.</strong> 2016
    </li>
  
</div>
